@import 'bourbon/bourbon';                                                                                     
@import 'base/base';                                                                                            
@import 'neat/neat'; 

 		
$pink: #ffc0cb;	
$green: #cbffc0; 	
$purple: #c0cbff;

.cards {
  @include grid-container;
}

.trackbox {
  @include grid-column(3);
  float:left;

  .mdl-card {
    @include grid-column(10);
    border: 1px solid grey;
  }
  .mdl-card__title.pink {
    background-color: $pink;
  }
  .mdl-card__title.green {
    background-color: $green;
  }
}

.slider {
  @include grid-column(2);
}