@import 'bourbon/bourbon';                                                                                     
@import 'base/base';                                                                                            
@import 'neat/neat'; 
		
$magenta: #490A3D;
$pink: #BD1550;
$orange: #E97F02;
$yellow: #F8CA00;
$lime: #8A9B0F;

#main {
  padding: 25px;
}

.trackbox {
  float:left;
  margin-bottom: 35px;

  .mdl-card {
    width: 300px;
    min-height: 400px;
    margin: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
  }

  .mdl-card:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
  }

  .mdl-card__subtitle-text {
    min-height: 85px;
  }
}

.trackbox:nth-child(1n) .mdl-card {
  background-color: $lime;
}
.trackbox:nth-child(2n) .mdl-card {
  background-color: $orange;
}
.trackbox:nth-child(3n) .mdl-card {
  background-color: $pink;
}
.trackbox:nth-child(4n) .mdl-card {
  background-color: $yellow;
}

.option-box {
  width: 95%;
  padding-top: 0px;
  padding-left: 100px;
  clear: both;
}

.sliders {
  width: 95%;
}

.sliders .mdl-button {
  margin: 10px;
}

.slider { 
width: 250px;
padding: 10px;
float: left;
}

.recommendation-list {
  clear: both;
}

.selected-track-box {
  float: right;
  width: 50em;

  img {
    width: 15em;
    margin-left: 15px;
    float: right;
  }
}
.selected-track {
  .mdl-button {
    width: 2em;
    float: right;
    clear: both;
  }
}
.search-bar {
  width : 60em;

  .mdl-button {
    float: right;
  }
}